.layoutContainer {
    display: flex;
    gap: 30px;

}

.blogContainer{
    flex: 5;
}


.container {
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}
.postDetails {
    line-height: 2;
}

@media screen and (max-width: 1024px) {
    .layoutContainer {
      flex-direction: column;
    }
  }

.error{
    font-size: 2rem;
}

.link{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 40px;
    width: 150px;
    background-color: var(--green);
    color: var(--greeninner);
    border-radius: 50px;
    margin: 0 auto;

}
.postDetails{
    background-color: var(--bg);
}

.postDetails img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.postDetails a {
    text-decoration: underline;
    color: var(--comp3);
}
  
.postDetails blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
.postDetails blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.postDetails blockquote p {
    display: inline;
}