.layoutContainer {
    display: flex;
    gap: 30px;

}

.blogContainer{
    flex: 5;
}


.container {
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}
.postDetails {
    line-height: 2;
}

@media screen and (max-width: 1024px) {
    .layoutContainer {
      flex-direction: column;
    }
  }

.error{
    font-size: 2rem;
}

.link{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 40px;
    width: 150px;
    background-color: var(--green);
    color: var(--greeninner);
    border-radius: 50px;
    margin: 0 auto;

}
