.container {
    margin: 40px 0;
}

.title {
    margin: 25px 0;
    color: var(--comp);
    font-weight: 1400;
}

.topics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.topic {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 40px;
    width: 150px;
    background-color: var(--green);
    color: var(--greeninner);
    border-radius: 50px;
    margin: 0 auto;
}

