.container:hover {
    cursor: pointer;

}

.container:hover .title{
    color: var(--comp3);
    font-weight: 550;
    /* color: var(--greeninner); */
}

.container:hover .read{
    color: var(--comp3);
    /* color: var(--greeninner); */

}



.topic{
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--greeninner);
    text-transform: capitalize;
    border-bottom: 1px solid var(--greeninner);
    width: max-content;
}

.title {
    font-size: 1.7rem;
    font-weight: 500;
}


.desc {
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 1rem;
}

.read {
    color: var(--comp);
    margin-bottom: 60px;
}

.read:hover::after{
    content: " -->";
    color: var(--comp3);
    /* color: var(--greeninner); */
}