:root{
    --bg: #fafafa;
    --darkbg: #000000;
    --text: #161616;
    --darkbgtext: #ffffff;
    --comp: #666666;
    --darkbgcomp: #a0a0a0;
    --green: #19903f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1.3rem;
}

.container {
    width: 1366px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



@media (max-width: 1366px) {
    .container{
        width: 1280px  ;
    }
}

@media (max-width: 1280px) {
    .container{
        width: 1024px  ;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1024px) {
    .container{
        width: 768px  ;
    }
}

@media (max-width: 768px) {
    .container{
        width: 640px  ;
    }
}

@media (max-width: 640px) {
    .container{
        width: 475px  ;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 475px) {
    .container{
        width: 380px  ;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
  
  }
  
  @media (max-width: 1280px) {
    .main{
        padding: 3rem;
    }
  }
  
  @media (max-width: 640px) {
    .main{
        padding: 0rem;
    }
  }