.container{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 3rem;
    font-weight: 200;
}

.line{
    height: 2px;
    width: 100%;
    background-color: var(--comp2);
}