.container{
    padding: 0 6rem;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.empty {
    flex: 1;
}
.empty svg > path{
    stroke: var(--text);
}
.logo{
    font-size: 3rem;
    font-weight: 200;
    flex: 1;
}


.line{
    height: 2px;
    width: 10vw;
    margin: 0 auto;
    background-color: var(--comp2);
}

@media screen and (max-width: 1024px) {
    .logo {
      font-size: 2.5rem;
    }
    .container{
        height: 100px;

    }
  }
  @media (max-width: 1280px) {
    .container{
        padding:0 3rem;
    }
  }
  
  @media (max-width: 640px) {
    .container{
        padding: 0rem;
    }
  }