 .title:hover{
    color: var(--comp3);
    font-weight: 550;
}

.topic{
    font-size: 1rem;
    color: var(--greeninner);

    width: max-content;
    text-transform: capitalize;
}

.title {
    font-weight: 500;
    /* color: var(--comp); */
}

@media screen and (max-width: 640px) {
    .topic{
        margin: auto;
    }
    
    .title {
        text-align: center;
    }
  }